// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

@import "bootstrap/scss/bootstrap";

// Functions first
//@import "bootstrap/scss/functions";

// Variable overrides second
$primary: #448aff;
$enable-shadows: true;
$prefix: "mo-";



// Required Bootstrap imports
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
//@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";



// Optional Bootstrap components here
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "toastify-js/src/toastify.css";

@import 'animate.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;


//
// Custom styles
//

//@import "icon-list";

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}


html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */

}

body {
  padding-top: 56px;
  font-family: 'Playpen Sans', cursive;
  font-size: medium;
}

.bg-body-tertiary{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px;
    /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller .nav {
  color: rgba(255, 255, 255, .75);
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}


.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .section {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.section.section-no-space {
  padding-bottom: 0;
  padding-top: 0;
}

.js-video-container {
  display: block;
  width: 100%;
  height: 100%;
}

section .container-full,
section .container-fluid,
section .container {
  position: relative;
  z-index: 12;
}

.section-title {
  font-weight: 100;
  font-family: cursive;
  color: white;
  background-color: rgba(68, 137, 255, 0.84);
  font-size: 3rem;
}

.welcome {
  max-width: 100%;
  min-height: 80vh;
  overflow: hidden;
  text-align: center;
  padding-top: 20vh;
  background: #448aff url('../assets/img/banner.jpeg') center/cover no-repeat fixed;
 
}


/* loder*/
.loading {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: block;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px;
}

.loader>img {
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: rotate360;
  animation-name: rotate360;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-webkit-keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate360 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**
SOCIAL
**/
.social-nav {
  display: inline-block;
  display: block;
  margin: 10px 0px;
  text-align: right;
}

@media (min-width: 768px) {
  .social-nav {
    margin: 10px 0px;
  }
}

.social-nav ul {
  list-style: none;
  margin: 0 5px;
  padding: 0;
}

.social-nav ul li {
  display: inline-block;
  margin: 0px 6px;
}

@media (min-width: 768px) {
  .social-nav ul li {
    margin: 0px 12px;
  }
}

.social-nav ul li a {
  color: #712cf9;
  font-size: 18px;
}

@media (min-width: 768px) {
  .social-nav ul li a {
    font-size: 21px;
  }
}

.social-nav ul li a:hover {
  color: rgba(97, 97, 97, 0.7);
}

/*-----------------------------------*\
  $DARK-MODE
\*-----------------------------------*/

.night-light-label #night-light-checkbox {
  position: absolute;
  visibility: hidden;
}

.night-light-label {
  display: block;

  height: 31px;
  width: 60px;
  border: 2px solid #4672fe;
  border-radius: 30px;
  position: relative;
  cursor: pointer;

  .night-light-ball {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 1px;
    left: 1px;
    border-radius: 50%;
    background: #4672fe;
    z-index: 99;
    transition: 300ms;
  }
}

.night-light-label #night-light-checkbox:checked+.night-light-ball {
  transform: translateX(28px);
}

.moon-svg,
.sun-svg {

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.moon-svg {
  right: 5px;
}

.sun-svg {
  left: 5px;
}

.dark #moon-svg,
.dark #sun-svg {
  fill: #e0e0e0 !important;
}

.dark {
  background-color: #111;
  color: #e0e0e0;
}

.dark .intro {
  background: #111;
}

.dark .animation-list,
.dark .sidebar {
  background: #15151d;
}

.dark .button.button-animations,
.dark .callout-hideList.button {
  color: #e0e0e0;
  border-color: rgba(255, 255, 255, 0.7);
  outline: none;
}

.dark .copy-icon,
.dark .copy-icon:hover {
  background: #15151d;
  border-color: #e0e0e0;
}

.dark .copy-icon::before,
.dark .copy-icon:hover::before {
  border-color: #e0e0e0;
}

.dark code {
  color: #111;
}

.dark h2,
.dark h3,
.dark h4,
.dark a[title='Documentation'],
.dark pre * {
  color: #e0e0e0;
}

.dark section {
  border-color: rgba(255, 255, 255, 0.2);
}

.dark h1,
.dark a {
  color: #4672fe;
}

/*
    Logo
*/
.logo {
  font-size: 21px;
  line-height: 51px;
  vertical-align: middle;
  display: inline-block;
  font-weight: 300;
  margin: 0;
  
  -moz-transition: line-height 0.35s ease-in-out;
  -o-transition: line-height 0.35s ease-in-out;
  -webkit-transition: line-height 0.35s ease-in-out;
  transition: line-height 0.35s ease-in-out;

}
.logoico{
  background-image: url('../assets/icon/ham_logo.svg');
background-repeat: no-repeat;
height: 350px;
width: 100%;
background-size: contain;
background-position: center;
/*border-radius: 55px;
background-color: #f8f9fa;*/
background-color: #82b4df78;
}
.logo-head{
  background-image: url('../assets/icon/icon.svg');
background-repeat: no-repeat;
height: 50px;
width: 50px;
background-size: contain;
border-radius: 55px;
background-color: #f8f9fa;
}

/*
.logo>img {
  max-height: 56px;
  width: auto;
}*/



.logo .small {
  font-size: 70%;
  vertical-align: bottom;
  line-height: 52px;
}

.logo .circle-logo-wrapper {
  display: inline-block;
  position: relative;
  margin: 0 5px 0 0;
}

.logo:hover .circle {
  opacity: 1;
  visibility: visible;
  -moz-transform: scale(1) translate3d(0, 0, 0);
  -ms-transform: scale(1) translate3d(0, 0, 0);
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  transform: scale(1) translate3d(0, 0, 0);
}

.logo:hover .icon {
  color: #9800de;
  -moz-transform: scale(0.9) translate3d(0, 0, 0);
  -ms-transform: scale(0.9) translate3d(0, 0, 0);
  -webkit-transform: scale(0.9) translate3d(0, 0, 0);
  transform: scale(0.9) translate3d(0, 0, 0);
}

.logo .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  margin: -15px;
  border: 1px solid #ffffff;
  border-radius: 25px;
  visibility: hidden;
  -moz-transition: -moz-transform 0.2s ease 0s, opacity 0.2s ease 0s;
  -o-transition: -o-transform 0.2s ease 0s, opacity 0.2s ease 0s;
  -webkit-transition: -webkit-transform 0.2s ease, opacity 0.2s ease;
  -webkit-transition-delay: 0s, 0s;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  -moz-transform: scale(0.6) translate3d(0, 0, 0);
  -ms-transform: scale(0.6) translate3d(0, 0, 0);
  -webkit-transform: scale(0.6) translate3d(0, 0, 0);
  transform: scale(0.6) translate3d(0, 0, 0);
}

@media (min-width: 992px) {
  .logo .circle {
    width: 40px;
    height: 40px;
    margin: -20px;
  }
}

.logo .icon {
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease;
  -webkit-transition-delay: 0s;
  transition: all 0.2s ease 0s;
}



/*
    Page header
*/
.page-header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0px;
  padding: 0px 0px;
  -moz-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  border: 0px;
  min-height: 60px;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}

@media (min-width: 992px) {
  .page-header {
    position: fixed;
    background-color: transparent;
    border-bottom: 1px solid transparent;
  }
}

.page-header .social-nav {
  margin: 10px 0;
  float: right;
}

.page-header .navbar-header {
  float: left;
}

/*
    Navbar Ico
*/
.navbar-toggle {
  border-color: #ccc;
  padding: 7px 4px;
}

.navbar-toggle:hover,
.navbar-toggle.active {
  border-color: #999999;
}

.navbar-toggle:hover .icon-bar,
.navbar-toggle.active .icon-bar {
  background-color: #999999;
}

.navbar-toggle .icon-bar {
  background-color: #ccc;
  -moz-transition: -moz-transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
  -o-transition: -o-transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
  -webkit-transition: -webkit-transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
  transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
}

.navbar-toggle .top-bar {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -moz-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  -o-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -moz-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  -o-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

/*
	Page footer
*/
.highlight {
  color: #9800de;
}

.page-footer {
  font-size: 13px;
  line-height: 16px;
  color: #878787;
  z-index: 999;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 5px 0px;
  padding: 0px 0px;
  background-color: #000;
  min-height: 40px;
  pointer-events: none;
  -moz-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);

  .icon-box {
    color: #5e0e0e;
  }
}

.page-footer .title {
  font-size: 21px;
  margin-bottom: 20px;
  margin-top: 0;
}

.page-footer a {
  color: rgba(255, 255, 255, 0.8);
  pointer-events: auto;
}

.page-footer a:hover {
  color: rgba(243, 147, 147, 0.7);
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  color: #878787;
  margin: 7px 0px;
}

.footer-block {
  margin-bottom: 20px;
}

/** 
TARJETAS
*/
.hcf-isotope-grid {
  width: 100%;
  margin: 0px auto;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
gap: 10px;

}


.hcf-isotope-item {
  /* background-color: #eee;*/
  display: inline-block;
  margin: 1em 0 1em;
  width: 100%;
    border:#eee 1px solid;
  border-radius: 8px;

   .card-img {
      overflow: hidden;
      img {
        min-width: 200px;
        min-height: 30px;
        width: 100%;
        border-radius: 8px;
        transition: transform 0.2s linear;
          &:hover {
            transform: scale(1.05);
          }
       }
}
  
}




.card-code {
  padding-left: 10px;
  font-size: 1rem;
  width: 50%;
  background-color: cornflowerblue;
}

.card-category {
  width: 50%;
  background-color: cornflowerblue;
}

.card-titlte {
  color: #fff;
  text-decoration: none;
}


/**

looding
https://codepen.io/COCO_KJXD/full/zELwep
*/


[class*=loader] {
  position: relative;
  top: 40%;
  display: inline-block;
  margin: 0 auto;
  cursor: wait;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader-butterfly {
  font-size: 2em;
  width: 2em;
  height: 2em;
  transform: rotateZ(-13deg);
  -webkit-animation: insect-fly 0.3333333333s infinite alternate cubic-bezier(.45, -0.43, .63, 1.94);
  animation: insect-fly 0.3333333333s infinite alternate cubic-bezier(.45, -0.43, .63, 1.94);
}

.loader-butterfly:before,
.loader-butterfly:after {
  content: "";
  position: absolute;
  width: 1em;
  height: 1.5em;
  border: 1px solid #0e5f76;
  background-color: rgba(8, 61, 86, 0.5);
  -webkit-animation: wings 0.3333333333s infinite cubic-bezier(0.6, 0, 0.4, 1) alternate;
  animation: wings 0.3333333333s infinite cubic-bezier(0.6, 0, 0.4, 1) alternate;
}

.loader-butterfly:before {
  left: 0;
  border-radius: 40% 20% 50% 50%;
  transform-origin: right center;
}

.loader-butterfly:after {
  right: 0;
  border-radius: 20% 40% 50% 50%;
  transform-origin: left center;
  animation-direction: alternate-reverse;
}

@-webkit-keyframes wings {
  from {
    transform: rotateX(60deg) rotateY(-60deg);
  }

  to {
    transform: rotateX(60deg) rotateY(60deg);
  }
}

@keyframes wings {
  from {
    transform: rotateX(60deg) rotateY(-60deg);
  }

  to {
    transform: rotateX(60deg) rotateY(60deg);
  }
}

@-webkit-keyframes insect-fly {
  from {
    margin-top: -0.3em;
  }

  to {
    margin-top: 0.3em;
  }
}

@keyframes insect-fly {
  from {
    margin-top: -0.3em;
  }

  to {
    margin-top: 0.3em;
  }
}


.loader-wobble {
  font-size: 0.8em;
  top: 50%;
  display: inline-block;
  width: 5em;
  height: 1em;
  line-height: 1.3;
  position: relative;
  color: #0e5f76;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom: 0.1em solid;
  margin-left: -5em;
  transform: translateX(50%);
  -webkit-animation: loadingText 1s infinite cubic-bezier(1, -2.3, 1, 2.5) alternate;
  animation: loadingText 1s infinite cubic-bezier(1, -2.3, 1, 2.5) alternate;
}




@-webkit-keyframes loadingText {
  0% {
    color: #0e5f76;
    width: 0em;
  }

  100% {
    color: #081e3f;
    width: 4em;
  }
}

@keyframes loadingText {
  0% {
    color: #0e5f76;
    width: 0em;
  }

  100% {
    color: #081e3f;
    width: 4em;
  }
}

@-webkit-keyframes loadingTextMove {
  0% {
    text-indent: 1em;
  }

  100% {
    text-indent: -1em;
  }
}

@keyframes loadingTextMove {
  0% {
    text-indent: 1em;
  }

  100% {
    text-indent: -1em;
  }
}

/**********    Lista de deseos    ************/
/**  backend */


.img-container,
.img-preview {
  background-color: #f7f7f7;
  text-align: center;
  width: 100%;
}

.img-container {
  max-height: 497px;
  min-height: 200px;
}

@media (min-width: 768px) {
  .img-container {
    min-height: 497px;
  }
}

.img-container > img {
  max-width: 100%;
}

.docs-preview {
  margin-right: -1rem;
}

.img-preview {
  float: left;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.img-preview > img {
  max-width: 100%;
}

.preview-lg {
  height: 9rem;
  width: 16rem;
}

.preview-md {
  height: 4.5rem;
  width: 8rem;
}

.preview-sm {
  height: 2.25rem;
  width: 4rem;
}

.preview-xs {
  height: 1.125rem;
  margin-right: 0;
  width: 2rem;
}

.docs-data > .input-group {
  margin-bottom: 0.5rem;
}

.docs-data .input-group-prepend .input-group-text {
  min-width: 4rem;
}

.docs-data .input-group-append .input-group-text {
  min-width: 3rem;
}

.docs-buttons > .btn,
.docs-buttons > .btn-group,
.docs-buttons > .form-control {
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
}